*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}

header{
    background-color: red;
    color: white;
    padding: 2rem;
}

nav{
    background-color: rgb(50, 50, 205);
    color: white;
    padding: 0.3rem;
}

aside{
    background-color: yellow;
    float: left;
    width: 20%;
    height: 50rem;
    border:7px solid red ;
    border-radius: 5%;

}

main{
    color: red;
    padding: 2rem;
    background-image:url(../../DE-07-bg-border-boxMode-yatay/img/monalisa.jpeg);
    float: right;
    width: 80%;
    height: 50rem;
    background-size: cover;
}

.clearfix{
    clear: both;
}

footer{
    background-color: gray;
    color: white;
    height:7rem;
    padding:2rem;
}